.quiz-container, .result-container {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #1e293b;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}


.question-text {
  font-size: calc(0.5rem + 1vw);
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
}

.choices-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.choice-btn {
  background-color:transparent;
  color: #ffffff;
  padding: 10px 20px;
  font-size: calc(0.5rem + 1vw);
  font-weight: bold;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.choice-btn:hover {
  background: linear-gradient(to right, #74ebd5, #acb6e5);;
  border: none;
}

.choice-btn.selected {
  background: linear-gradient(to right, #74ebd5, #acb6e5);;
  border: none;
}



.start-btn:disabled {
  display: none;
}

.result-container p {
  font-size: calc(0.5rem + 1vw);
  margin: 10px 0;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
